<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
  <script type="text/javascript">
  var clientId = '804988828503-42nmtdv5dbokjbhu9r9fh76q2lm29k57.apps.googleusercontent.com';
  var apiKey = 'AIzaSyD7oYD96VV5aAV-AKEPPfhtQa25qfjbjLg';
  var scopes = ['https://www.googleapis.com/auth/contacts.readonly', 'https://www.googleapis.com/auth/gmail.readonly','https://mail.google.com/','https://www.googleapis.com/auth/gmail.modify','https://www.googleapis.com/auth/gmail.compose','https://www.googleapis.com/auth/gmail.send'];

  $(document).on("click",".googleContactsButton", function(){
    gapi.client.setApiKey(apiKey);
    window.setTimeout(authorize(handleAuthorization));
  });

  function authorize(onReturn) {
    gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, onReturn);
  }

  function handleAuthorization(authorizationResult) {
    if (authorizationResult && !authorizationResult.error) {
      $.get("https://www.google.com/m8/feeds/contacts/default/thin?alt=json&access_token=" + authorizationResult.access_token + "&max-results=500&v=3.0",
      function(response){
        //process the response here
        console.log('logging contacts');
        console.log(response);
      });
    }
  }

  $(document).on("click","#authorize", function(){
    gapi.client.setApiKey(apiKey);
    window.setTimeout(authorize(handleAuthResult));
  });

  /**
  * Handle response from authorization server.
  *
  * @param {Object} authResult Authorization result.
  */
  function handleAuthResult(authResult) {
    if (authResult && !authResult.error) {
      makeApiCall();
    }
  }


    // Load the API and make an API call.  Display the results on the screen.
    function makeApiCall() {
      // Step 4: Load the Google+ API
      gapi.client.load('gmail', 'v1', function() {
          // Web-safe base64
          var to = 'andreas@digitalplaywright.com',
              subject = 'Hello World',
              content = 'send a Gmail.'

          var base64EncodedEmail = btoa(
                "Content-Type:  text/plain; charset=\"UTF-8\"\n" +
                "Content-length: 5000\n" +
                "Content-Transfer-Encoding: message/rfc2822\n" +
                "to: andreas@digitalplaywright.com\n" +
                "from: \"Andreas Saebjoernsen\" <andreas.saebjoernsen@gmail.com>\n" +
                "subject: Welcome to the club\n\n" +

                "really love how this works"
                  ).replace(/\+/g, '-').replace(/\//g, '_');

          var mail= base64EncodedEmail;
          console.log(mail);
          var request = gapi.client.gmail.users.messages.send({
            'userId': "me",
            'resource': {
                'raw': mail
              }
          });
          request.execute(function(response){
            console.log('sending emails');
            console.log(response);
         });
        });
    }
    </script>


    <script src="https://apis.google.com/js/client.js"></script>
    <button class="googleContactsButton">Get my contacts</button>
    <button id="authorize">Authorize</button>

  </body>
  </html>
